USE [master]
GO
/****** Object:  Database [CarDealership]    Script Date: 12.01.2024 21:19:35 ******/
CREATE DATABASE [CarDealership]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarDealership', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CarDealership.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarDealership_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CarDealership_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarDealership].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarDealership]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 12.01.2024 21:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[CarID] [int] IDENTITY(1,1) NOT NULL,
	[Brand] [varchar](255) NOT NULL,
	[Model] [varchar](255) NOT NULL,
	[ProductionYear] [int] NOT NULL,
	[EngineCapacity] [decimal](5, 2) NOT NULL,
	[Power] [int] NOT NULL,
	[Mileage] [int] NOT NULL,
	[FuelType] [varchar](50) NOT NULL,
	[Drivetrain] [varchar](50) NOT NULL,
	[Transmission] [varchar](50) NOT NULL,
	[BodyType] [varchar](50) NOT NULL,
	[Color] [varchar](50) NOT NULL,
	[SteeringWheelPosition] [varchar](50) NOT NULL,
	[TechnicalCondition] [varchar](50) NOT NULL,
	[DealershipID] [int] NOT NULL,
 CONSTRAINT [PK__Cars__68A0340E88150C2F] PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 12.01.2024 21:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientID] [int] NOT NULL,
	[FIrstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Complaints]    Script Date: 12.01.2024 21:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complaints](
	[ComplaintID] [int] NOT NULL,
	[TransactionID] [int] NULL,
	[ComplaintDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ComplaintID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dealerships]    Script Date: 12.01.2024 21:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dealerships](
	[DealershipID] [int] NOT NULL,
	[DealershipName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Dealerships] PRIMARY KEY CLUSTERED 
(
	[DealershipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 12.01.2024 21:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[TeamID] [int] NOT NULL,
	[Address] [varchar](255) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[PhoneNumber] [varchar](20) NOT NULL,
	[Email] [varchar](100) NOT NULL,
 CONSTRAINT [PK__Employee__7AD04FF15FB5E8E6] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InsuranceInstallments]    Script Date: 12.01.2024 21:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsuranceInstallments](
	[InstallmentID] [int] NOT NULL,
	[InsuranceID] [int] NULL,
	[InstallmentDate] [date] NULL,
 CONSTRAINT [PK_InsuranceInstallments] PRIMARY KEY CLUSTERED 
(
	[InstallmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insurances]    Script Date: 12.01.2024 21:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insurances](
	[InsuranceID] [int] NOT NULL,
	[CarID] [int] NULL,
	[InsuranceNumber] [varchar](255) NULL,
	[InsuranceType] [varchar](50) NULL,
	[Insurer] [varchar](100) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[InstallmentCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[InsuranceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meetings]    Script Date: 12.01.2024 21:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meetings](
	[MeetingID] [int] NOT NULL,
	[EmployeeID] [int] NULL,
	[ClientID] [int] NULL,
	[MeetingDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MeetingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 12.01.2024 21:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] NOT NULL,
	[TransactionID] [int] NULL,
	[Amount] [decimal](10, 2) NULL,
	[Currency] [varchar](10) NULL,
	[PaymentType] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 12.01.2024 21:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[ReservationID] [int] NOT NULL,
	[CarID] [int] NULL,
	[ClientID] [int] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 12.01.2024 21:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewsID] [int] NOT NULL,
	[TransactionID] [int] NOT NULL,
	[Score] [nchar](10) NOT NULL,
	[Content] [varchar](255) NULL,
 CONSTRAINT [PK__Reviews__64C7C08D4F4B607B] PRIMARY KEY CLUSTERED 
(
	[ReviewsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServicesRepairs]    Script Date: 12.01.2024 21:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicesRepairs](
	[RepairID] [int] NOT NULL,
	[CarID] [int] NULL,
	[Date] [date] NULL,
	[RepairDescription] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RepairID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 12.01.2024 21:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[TeamID] [int] NOT NULL,
	[TeamName] [nchar](10) NOT NULL,
	[TeamLeader] [int] NOT NULL,
 CONSTRAINT [PK_Teams] PRIMARY KEY CLUSTERED 
(
	[TeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionDetails]    Script Date: 12.01.2024 21:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionDetails](
	[TransactionDetailID] [int] NOT NULL,
	[TransactionID] [int] NOT NULL,
	[CarID] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Discount] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_TransactionDetails] PRIMARY KEY CLUSTERED 
(
	[TransactionDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 12.01.2024 21:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionID] [int] NOT NULL,
	[ClientID] [int] NULL,
	[EmployeeID] [int] NOT NULL,
	[TransactionDate] [date] NULL,
	[Amount] [decimal](10, 2) NULL,
 CONSTRAINT [PK__Transact__55433A4B0F3F5ADB] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cars] ON 

INSERT [dbo].[Cars] ([CarID], [Brand], [Model], [ProductionYear], [EngineCapacity], [Power], [Mileage], [FuelType], [Drivetrain], [Transmission], [BodyType], [Color], [SteeringWheelPosition], [TechnicalCondition], [DealershipID]) VALUES (1, N'Nissan', N'Pathfinder Armada', 1996, CAST(1.90 AS Decimal(5, 2)), 223, 153883, N'Hybrid', N'All-Wheel Drive', N'Manual', N'Convertible', N'Red', N'Left', N'Non-damaged', 9)
INSERT [dbo].[Cars] ([CarID], [Brand], [Model], [ProductionYear], [EngineCapacity], [Power], [Mileage], [FuelType], [Drivetrain], [Transmission], [BodyType], [Color], [SteeringWheelPosition], [TechnicalCondition], [DealershipID]) VALUES (2, N'Nissan', N'Xterra', 2017, CAST(2.50 AS Decimal(5, 2)), 207, 22305, N'Electric', N'Front-Wheel Drive', N'Automatic', N'Coupe', N'Crimson', N'Left', N'Non-damaged', 8)
INSERT [dbo].[Cars] ([CarID], [Brand], [Model], [ProductionYear], [EngineCapacity], [Power], [Mileage], [FuelType], [Drivetrain], [Transmission], [BodyType], [Color], [SteeringWheelPosition], [TechnicalCondition], [DealershipID]) VALUES (3, N'Ford', N'F350', 2009, CAST(2.40 AS Decimal(5, 2)), 129, 105450, N'Hybrid', N'Rear-Wheel Drive', N'Manual', N'Coupe', N'Green', N'Left', N'Non-damaged', 6)
GO
SET IDENTITY_INSERT [dbo].[Cars] OFF
GO
INSERT [dbo].[Clients] ([ClientID], [FIrstName], [LastName], [Address], [City], [PhoneNumber], [Email]) VALUES (1, N'Anett', N'Pedrielli', N'59137 Hoard Lane', N'Krajan', N'135-988-7353', N'apedrielli0@washington.edu')
INSERT [dbo].[Clients] ([ClientID], [FIrstName], [LastName], [Address], [City], [PhoneNumber], [Email]) VALUES (2, N'Alard', N'Sinnatt', N'91 Del Sol Street', N'Lisków', N'890-407-2206', N'asinnatt1@tamu.edu')
INSERT [dbo].[Clients] ([ClientID], [FIrstName], [LastName], [Address], [City], [PhoneNumber], [Email]) VALUES (3, N'Zabrina', N'Webland', N'7324 Kensington Road', N'Yushu', N'475-923-5291', N'zwebland2@independent.co.uk')
GO
INSERT [dbo].[Complaints] ([ComplaintID], [TransactionID], [ComplaintDate]) VALUES (1, 2, CAST(N'2023-05-20' AS Date))
INSERT [dbo].[Complaints] ([ComplaintID], [TransactionID], [ComplaintDate]) VALUES (2, 8, CAST(N'2023-02-02' AS Date))
INSERT [dbo].[Complaints] ([ComplaintID], [TransactionID], [ComplaintDate]) VALUES (3, 12, CAST(N'2022-10-15' AS Date))
GO
INSERT [dbo].[Dealerships] ([DealershipID], [DealershipName], [Address], [City], [Phone]) VALUES (1, N'Einti', N'62 Hovde Junction', N'La Plaine-Saint-Denis', N'982-136-9751')
INSERT [dbo].[Dealerships] ([DealershipID], [DealershipName], [Address], [City], [Phone]) VALUES (2, N'Jaxspan', N'350 Carberry Avenue', N'Nanxia', N'979-783-9141')
INSERT [dbo].[Dealerships] ([DealershipID], [DealershipName], [Address], [City], [Phone]) VALUES (3, N'Leenti', N'9490 Lakewood Gardens Lane', N'Ijebu-Ife', N'909-988-1409')
GO
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [Title], [TeamID], [Address], [City], [PhoneNumber], [Email]) VALUES (1, N'Arliene', N'Granham', N'Service Technician', 2, N'8 Dayton Road', N'Rosario de Lerma', N'377-158-1680', N'agranham0@seattletimes.com')
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [Title], [TeamID], [Address], [City], [PhoneNumber], [Email]) VALUES (2, N'Phillipe', N'Gosnoll', N'Sales Associate', 3, N'398 Novick Street', N'Krajan Langenharjo', N'909-259-7774', N'pgosnoll1@smh.com.au')
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [Title], [TeamID], [Address], [City], [PhoneNumber], [Email]) VALUES (3, N'Isadore', N'Bonnor', N'Parts Specialist', 2, N'9 Nobel Way', N'Lékhaio', N'404-509-3492', N'ibonnor2@umn.edu')
GO
INSERT [dbo].[InsuranceInstallments] ([InstallmentID], [InsuranceID], [InstallmentDate]) VALUES (1, 1, CAST(N'2024-01-01' AS Date))
INSERT [dbo].[InsuranceInstallments] ([InstallmentID], [InsuranceID], [InstallmentDate]) VALUES (2, 1, CAST(N'2024-07-01' AS Date))
INSERT [dbo].[InsuranceInstallments] ([InstallmentID], [InsuranceID], [InstallmentDate]) VALUES (3, 2, CAST(N'2023-02-02' AS Date))
GO
INSERT [dbo].[Insurances] ([InsuranceID], [CarID], [InsuranceNumber], [InsuranceType], [Insurer], [StartDate], [EndDate], [InstallmentCount]) VALUES (1, 1, N'0001/2024', N'OC', N'PZU', CAST(N'2024-01-01' AS Date), CAST(N'2024-12-31' AS Date), 2)
INSERT [dbo].[Insurances] ([InsuranceID], [CarID], [InsuranceNumber], [InsuranceType], [Insurer], [StartDate], [EndDate], [InstallmentCount]) VALUES (2, 72, N'3468/2023', N'AC', N'Davis Group', CAST(N'2023-02-02' AS Date), CAST(N'2024-02-02' AS Date), 2)
INSERT [dbo].[Insurances] ([InsuranceID], [CarID], [InsuranceNumber], [InsuranceType], [Insurer], [StartDate], [EndDate], [InstallmentCount]) VALUES (3, 298, N'7815/2023', N'OC', N'Hane Group', CAST(N'2023-01-24' AS Date), CAST(N'2024-01-24' AS Date), 2)
GO
INSERT [dbo].[Meetings] ([MeetingID], [EmployeeID], [ClientID], [MeetingDate]) VALUES (1, 2, 28, CAST(N'2024-06-06' AS Date))
INSERT [dbo].[Meetings] ([MeetingID], [EmployeeID], [ClientID], [MeetingDate]) VALUES (2, 14, 101, CAST(N'2024-06-06' AS Date))
INSERT [dbo].[Meetings] ([MeetingID], [EmployeeID], [ClientID], [MeetingDate]) VALUES (3, 23, 43, CAST(N'2024-06-03' AS Date))
GO
INSERT [dbo].[Payments] ([PaymentID], [TransactionID], [Amount], [Currency], [PaymentType]) VALUES (1, 1, CAST(98711.66 AS Decimal(10, 2)), N'PLN', N'Cash')
INSERT [dbo].[Payments] ([PaymentID], [TransactionID], [Amount], [Currency], [PaymentType]) VALUES (2, 2, CAST(56234.23 AS Decimal(10, 2)), N'PLN', N'Cash')
INSERT [dbo].[Payments] ([PaymentID], [TransactionID], [Amount], [Currency], [PaymentType]) VALUES (3, 3, CAST(52312.23 AS Decimal(10, 2)), N'PLN', N'Card')
GO
INSERT [dbo].[Reservations] ([ReservationID], [CarID], [ClientID], [StartDate], [EndDate]) VALUES (1, 210, 56, CAST(N'2024-10-25' AS Date), CAST(N'2024-10-30' AS Date))
INSERT [dbo].[Reservations] ([ReservationID], [CarID], [ClientID], [StartDate], [EndDate]) VALUES (2, 201, 163, CAST(N'2024-01-09' AS Date), CAST(N'2024-01-18' AS Date))
INSERT [dbo].[Reservations] ([ReservationID], [CarID], [ClientID], [StartDate], [EndDate]) VALUES (3, 9, 190, CAST(N'2024-05-03' AS Date), CAST(N'2024-05-15' AS Date))
GO
INSERT [dbo].[Reviews] ([ReviewsID], [TransactionID], [Score], [Content]) VALUES (1, 1, N'10        ', NULL)
INSERT [dbo].[Reviews] ([ReviewsID], [TransactionID], [Score], [Content]) VALUES (2, 2, N'9         ', NULL)
INSERT [dbo].[Reviews] ([ReviewsID], [TransactionID], [Score], [Content]) VALUES (3, 3, N'10        ', NULL)
GO
INSERT [dbo].[ServicesRepairs] ([RepairID], [CarID], [Date], [RepairDescription]) VALUES (1, 497, CAST(N'2022-07-10' AS Date), N'Aenean fermentum. Donec ut mauris eget massa tempor convallis. Nulla neque libero, convallis eget, eleifend luctus, ultricies eu, nibh.')
INSERT [dbo].[ServicesRepairs] ([RepairID], [CarID], [Date], [RepairDescription]) VALUES (2, 462, CAST(N'2022-09-28' AS Date), N'Duis bibendum, felis sed interdum venenatis, turpis enim blandit mi, in porttitor pede justo eu massa. Donec dapibus. Duis at velit eu est congue elementum.')
INSERT [dbo].[ServicesRepairs] ([RepairID], [CarID], [Date], [RepairDescription]) VALUES (3, 371, CAST(N'2022-01-29' AS Date), N'Nam ultrices, libero non mattis pulvinar, nulla pede ullamcorper augue, a suscipit nulla elit ac nulla. Sed vel enim sit amet nunc viverra dapibus. Nulla suscipit ligula in lacus.')
GO
INSERT [dbo].[Teams] ([TeamID], [TeamName], [TeamLeader]) VALUES (1, N'Team A    ', 6)
INSERT [dbo].[Teams] ([TeamID], [TeamName], [TeamLeader]) VALUES (2, N'Team B    ', 5)
INSERT [dbo].[Teams] ([TeamID], [TeamName], [TeamLeader]) VALUES (3, N'Team C    ', 28)
GO
INSERT [dbo].[TransactionDetails] ([TransactionDetailID], [TransactionID], [CarID], [Price], [Discount]) VALUES (1, 1, 1, CAST(35621.26 AS Decimal(10, 2)), CAST(0.00 AS Decimal(5, 2)))
INSERT [dbo].[TransactionDetails] ([TransactionDetailID], [TransactionID], [CarID], [Price], [Discount]) VALUES (2, 1, 26, CAST(63090.40 AS Decimal(10, 2)), CAST(0.00 AS Decimal(5, 2)))
INSERT [dbo].[TransactionDetails] ([TransactionDetailID], [TransactionID], [CarID], [Price], [Discount]) VALUES (3, 2, 156, CAST(56234.23 AS Decimal(10, 2)), CAST(0.00 AS Decimal(5, 2)))
GO
INSERT [dbo].[Transactions] ([TransactionID], [ClientID], [EmployeeID], [TransactionDate], [Amount]) VALUES (1, 101, 21, CAST(N'2023-09-18' AS Date), CAST(98711.66 AS Decimal(10, 2)))
INSERT [dbo].[Transactions] ([TransactionID], [ClientID], [EmployeeID], [TransactionDate], [Amount]) VALUES (2, 182, 6, CAST(N'2022-03-03' AS Date), CAST(56234.23 AS Decimal(10, 2)))
INSERT [dbo].[Transactions] ([TransactionID], [ClientID], [EmployeeID], [TransactionDate], [Amount]) VALUES (3, 52, 14, CAST(N'2022-10-15' AS Date), CAST(52312.25 AS Decimal(10, 2)))
GO
/****** Object:  Index [IX_Reviews]    Script Date: 12.01.2024 21:19:35 ******/
CREATE NONCLUSTERED INDEX [IX_Reviews] ON [dbo].[Reviews]
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Complaints]  WITH CHECK ADD  CONSTRAINT [FK_Complaints_Transactions] FOREIGN KEY([TransactionID])
REFERENCES [dbo].[Transactions] ([TransactionID])
GO
ALTER TABLE [dbo].[Complaints] CHECK CONSTRAINT [FK_Complaints_Transactions]
GO
ALTER TABLE [dbo].[InsuranceInstallments]  WITH CHECK ADD  CONSTRAINT [FK__Insurance__Insur__72C60C4A] FOREIGN KEY([InsuranceID])
REFERENCES [dbo].[Insurances] ([InsuranceID])
GO
ALTER TABLE [dbo].[InsuranceInstallments] CHECK CONSTRAINT [FK__Insurance__Insur__72C60C4A]
GO
ALTER TABLE [dbo].[Meetings]  WITH CHECK ADD  CONSTRAINT [FK_Meetings_Clients] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[Meetings] CHECK CONSTRAINT [FK_Meetings_Clients]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Transactions] FOREIGN KEY([TransactionID])
REFERENCES [dbo].[Transactions] ([TransactionID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Transactions]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Clients] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Clients]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Transactions] FOREIGN KEY([TransactionID])
REFERENCES [dbo].[Transactions] ([TransactionID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Transactions]
GO
ALTER TABLE [dbo].[TransactionDetails]  WITH CHECK ADD  CONSTRAINT [FK_TransactionDetails_Transactions] FOREIGN KEY([TransactionID])
REFERENCES [dbo].[Transactions] ([TransactionID])
GO
ALTER TABLE [dbo].[TransactionDetails] CHECK CONSTRAINT [FK_TransactionDetails_Transactions]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Clients] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Clients]
GO
/****** Object:  StoredProcedure [dbo].[Cars_GetByBrand]    Script Date: 12.01.2024 21:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Cars_GetByBrand]
	-- Add the parameters for the stored procedure here
	@Brand nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM dbo.Cars
	WHERE Brand = @Brand;
END
GO
/****** Object:  StoredProcedure [dbo].[HandleLogin]    Script Date: 12.01.2024 21:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[HandleLogin]
	-- Add the parameters for the stored procedure here
	@Login nvarchar(50),
	@Password nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * 
	FROM Employees
	WHERE Login = @Login AND Password = @Password
END
GO
USE [master]
GO
